<!DOCTYPE html>
<html>
<head>
    <title>Título de tu página</title>
    <link rel="stylesheet" href="stylesheets/publicar.css">
</head>
<body>
    <div class="container">
        
        <div class="publication">
            
            <div style="text-align: center;">   
                <h1>!Usp¡</h1>
                <h1>LO SENTIMOS,TU PLACA NO HA SIDO PUBLICADA</h1>
                  
                <div>
                    <img src="images/cardo.png" alt="imng" style="height: 8cm;right: 8cm;">
                </div>
                <p>¿Quieres publicar esta placa?</p>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/publicar" style="color:#007bff;;">Crear publicacion ➜ </a>
                </li>


            </div>
            
          
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/" style="color:#007bff;;">Regresar a Inicio ➜ </a>
            </li>
    
           
        </div>
        
        
    </div>
</body>
</html>